
.m_decoration5_box[data-v-5be33d57] {
  width: 100%;
  height: 100%;
}

.m-text2[data-v-d4ae7710]::before {
  content: '';
  height: 4px;
  background: red;
  /* 伪元素默认样式 display: inline;所以需要转成inline-block宽高才会生效 */
  display: inline-block;
  /* 通过定位使下划线在最低层 */
  position: absolute;
  top: 40px;
  width: 0;
  /* 加上一个过渡效果，使之丝滑一些 */
  transition: width .76s;
}
.m-text2[data-v-d4ae7710]:hover::before {
  /* 悬浮时候，让下划线伪元素宽度变成100%即可出现效果 */
  width: 100%;
}

#titleComponent[data-v-4b04a664] {
  height: 30px;
  background-image: linear-gradient(90deg, rgba(67, 205, 255, 0.4) 0%, rgba(35, 167, 255, 0) 98%);
  margin-left: 10px;
  width: 50%;
  display: flex;
  align-items: center;
}
#titleComponent[data-v-4b04a664]::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 30px;
  margin-left: -10px;
  background-color: #23D3FF;
}
.m-title__inner[data-v-4b04a664] {
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}

.m_border_box8[data-v-48d8ae24] {
  position: relative;
  width: 100%;
  height: 100%;
}
.m_border_box8_svg[data-v-48d8ae24]{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.m_border_box8__slot[data-v-48d8ae24] {
  position: relative;
  width: 100%;
  height: 100%;
}

.m-box[data-v-654bb628] {
  background: linear-gradient(to right, #ccc, #fff, #ddd, #fff, #ddd, #fff, #ccc);
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-text[data-v-654bb628] {
  color: #000;
  font-family: '宋徽宗瘦金体', 'Microsoft YaHei', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-shadow: 1px -1px #fff, -1px 1px #999, -5px 5px 5px #808080;
}
