
.m_decoration5_box[data-v-5be33d57] {
  width: 100%;
  height: 100%;
}

.m_border_box8[data-v-48d8ae24] {
  position: relative;
  width: 100%;
  height: 100%;
}
.m_border_box8_svg[data-v-48d8ae24]{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.m_border_box8__slot[data-v-48d8ae24] {
  position: relative;
  width: 100%;
  height: 100%;
}

#titleComponent[data-v-4b04a664] {
  height: 30px;
  background-image: linear-gradient(90deg, rgba(67, 205, 255, 0.4) 0%, rgba(35, 167, 255, 0) 98%);
  margin-left: 10px;
  width: 50%;
  display: flex;
  align-items: center;
}
#titleComponent[data-v-4b04a664]::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 30px;
  margin-left: -10px;
  background-color: #23D3FF;
}
.m-title__inner[data-v-4b04a664] {
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
