/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
    --vp-c-brand: #646cff;
    --vp-c-brand-light: #747bff;
    --vp-c-brand-lighter: #9499ff;
    --vp-c-brand-lightest: #bcc0ff;
    --vp-c-brand-dark: #535bf2;
    --vp-c-brand-darker: #454ce1;
    --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
    --c-brand: #646cff;
    --c-brand-light: #747bff;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-hover-border: var(--vp-c-brand-light);
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-light);
    --vp-button-brand-active-border: var(--vp-c-brand-light);
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
            5deg,
            #47caff 0%,
            #93b5cf 20%,
            #1772b4 40%,
            #126e82 60%,
            #12aa9c 80%
    );

    --vp-home-hero-image-background-image: linear-gradient(
            5deg,
            #47caff 0%,
            #fff 50%,
            #93b5cf 100%
    );
    --vp-home-hero-image-filter: blur(10px);
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(72px);
    }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-darker);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
    --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.

  Also specify some classes twice to have higher specificity
  over scoped class data attribute.

*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
    color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
    color: var(--vp-c-brand-lightest);
    opacity: 1;
}

.vp-doc a {
    font-weight: normal;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
    transition: color 0.25s;
}

a:hover {
    text-decoration: none !important;
}

summary {
    font-weight: 600;

    &:hover {
        cursor: pointer;
        color: var(--vp-c-brand-lighter);
    }
}

svg {
    fill: var(--vp-c-text-1);
}

.VPNavBarTitle .title {
    transition: all 0.25s;

    &:hover {
        color: var(--vp-c-brand);
    }
}

.version-tag {
    font-size: 14px;
    line-height: 1.571;
    font-weight: bold;
    padding: 4px 6px;
    margin-left: 6px;
    background: #bd34fe;
    color: #FFF;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}


/**
* ------------- 滚动条样式 -------------
*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #ddd;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #aaa;
}

.vp-doc p {
    margin: 10px 0;
}

/**--------------------------------基于docs的自定义样式---------------------------------------------*/
.docs-cn-github-release-tag {
    font-size: 14px;
    font-weight: 700;
    padding: 4px 6px;
    margin-left: 6px;
    background: var(--c-brand);
    color: #fff;
    border-radius: 10px;
    vertical-align: middle
}

.VPDoc  {
    height: 90vh;
    margin-top: 2vh;
    width: 100vw;
    overflow-y: scroll;
}